<div class="container px-5 my-5">
    <form method="post" asp-controller="Category" asp-action="CreateCategory">
        <div class="form-floating mb-3">
            <input class="form-control" name="name" type="text" placeholder="Category Name" data-sb-validations="" />
            <label for="name">Category Name</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" name="description" type="text" placeholder="Category Description" data-sb-validations="" />
            <label for="description">Category Description</label>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
