@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Welcome to Our Website</h1>
    <p>Please choose an option:</p>
    <div style="margin: 20px;">
        <a href="/User/Login" class="btn btn-primary btn-lg" style="margin-right: 10px;">Login</a>
        <a href="/User/Register" class="btn btn-primary btn-lg" style="margin-right: 0px;">Register</a>
    </div>
</div>
